include header_logic.pug
body 
    .wrapper.cases
        .wrapper-content 
            include header.pug 
            main.main-content
                .welcome-section.cases-welcome
                        .welcome-header(data-aos="fade-up") Кейсы
                .main-section.cases-section 
                            .section-row 
                                .section-block--link.link-kt 
                                    .section-name(data-aos="fade-up") Кухни КИТ
                                    .section-subheader(data-aos="fade-up") Мы верим, что правильные технологии помогают улучшать мир вокруг
                                    a(href="./cases.html",data-aos="fade-up").section-link Читать больше
                            .section-row
                                .section-block--link.link-br
                                    .section-name(data-aos="fade-up") BezRealtora 
                                    .section-subheader(data-aos="fade-up") Мы существуем, чтобы улучшать мир. Мы соединяем талант, креативность и технологии, чтобы помогать нашим клиентам достигать намечанных целей
                                    a(href="./about.html",data-aos="fade-up").section-link Читать больше
                            .section-row
                                .section-block--link.link-df
                                    .section-name(data-aos="fade-up") Dfreidman
                                    .section-subheader(data-aos="fade-up") Мы существуем, чтобы улучшать мир. Мы соединяем талант, креативность и технологии, чтобы помогать нашим клиентам достигать намечанных целей
                                    a(href="./about.html",data-aos="fade-up").section-link Читать больше
                            .section-row
                                .section-block--link.link-rant
                                    .section-name(data-aos="fade-up") Рантье
                                    .section-subheader(data-aos="fade-up") Мы существуем, чтобы улучшать мир. Мы соединяем талант, креативность и технологии, чтобы помогать нашим клиентам достигать намечанных целей
                                    a(href="./about.html",data-aos="fade-up").section-link Читать больше
                            .section-row
                                .section-block--link.link-socials
                                    .section-name(data-aos="fade-up") Socials
                                    .section-subheader(data-aos="fade-up") Мы существуем, чтобы улучшать мир. Мы соединяем талант, креативность и технологии, чтобы помогать нашим клиентам достигать намечанных целей
                                    a(href="./about.html",data-aos="fade-up").section-link Читать больше
                                
            include footer.pug  