footer.footer 
    //- .footer-text 2021 Freidman Solutions Ltd. All rights reserved.

script(src="https://unpkg.com/aos@2.3.1/dist/aos.js")
script(src="//code.jquery.com/jquery-1.12.4.js")
script(src="//code.jquery.com/ui/1.12.1/jquery-ui.js")
//- script(src="./assets/js/jquery.min.js") 
script(src="./assets/js/plugins.min.js")
script(src="./assets/js/main.min.js")