header.header 
    .logo
        img(src="./assets/images/content/Logo.svg", alt="Logo Image")
    .navigation 
        a(href="./index.html", target="_self").navigation-link Главная
        a(href="./cases.html", target="_self").navigation-link Проекты
        a(href="./about.html", target="_self").navigation-link О нас
        a(href="./contact.html", target="_self").navigation-link Напишите нам
    