
include header.pug
main.main.main-home 
    section.form-section#form
        .section-header РАССЧИТАЙТЕ АВТОКРЕДИТ И ЗАПОЛНИТЕ АНКЕТУ
        .section-container
            include form.pug
                
    section.advertisment-section
    section.banks-section
        .section-header Банки-Партнеры
    section.whyus-section
        .section-header ПОЧЕМУ СТОИТ ОБРАТИТЬСЯ ИМЕННО К НАМ?
    //- Для всяких квизов
    section.attention-section 
    //- Форма для вопросов внизу
    section.consultation-section 
    section.feedback-section
        .section-header ОТЗЫВЫ НАШИХ КЛИЕНТОВ
    section.company-section
        .section-header НЕМНОГО О НАШЕЙ КОМПАНИИ
    section.map-section#contact
include footer.pug
