doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="style.min.css")
        link(rel="shortcut icon", href="./assets/images/content/favicon.ico", type="image/x-icon")
        link(href="https://unpkg.com/aos@2.3.1/dist/aos.css", rel="stylesheet")
        title АВТОКРЕД
    body
        .wrapper
            .wrapper-content
                include header.pug
                main.main-content
                    .welcome-section
                        .welcome-header(data-aos="fade-up") КРЕДИТ НА ПОКУПКУ
                            .typewrite(data-period="2000",data-type='["АВТОМОБИЛЯ"]')
                    //- .main-banner 
                    //-     .banner-text(data-aos="fade-up") Мы воплощаем ваши идеи в жизнь, добавляем лоск и роскошь в ваши проекты и создаем произведения искусства
                    //- .main-section 
                    //-         .section-row 
                    //-             .section-block--link.link-cases 
                    //-                 .section-name(data-aos="fade-up") Проекты
                    //-                 .section-header(data-aos="fade-up") Создавая Историю
                    //-                 .section-subheader(data-aos="fade-up") Мы верим, что правильные технологии помогают улучшать мир вокруг
                    //-                 a(href="./cases.html",data-aos="fade-up").section-link Читать больше
                    //-             .section-block--image 
                    //-                 img(src="./assets/images/content/imageMain.jpg", alt="",data-aos="flip-up") 
                    //-                 .section-block--ball.ball--orange(data-aos="zoom-up")
                    //-         .section-row 
                    //-             .section-block--image 
                    //-                 img(src="./assets/images/content/imageMain2.jpg", alt="",data-aos="flip-up") 
                    //-                 .section-block--ball.ball--purple(data-aos="zoom-up")
                    //-             .section-block--link.link-more
                    //-                 .section-name(data-aos="fade-up") О нас
                    //-                 .section-header(data-aos="fade-up") Наша Миссия
                    //-                 .section-subheader(data-aos="fade-up") Мы существуем, чтобы улучшать мир. Мы соединяем талант, креативность и технологии, чтобы помогать нашим клиентам достигать намечанных целей
                    //-                 a(href="./about.html",data-aos="fade-up").section-link Читать больше
                    //-         .section-row
                    //-             .section-block--link.link-row
                    //-                 a(href="./contact.html",data-aos="fade-up").contact-link Свяжитесь с нами
                    //-             .section-block--image 
                    //-                 img(src="./assets/images/content/imageMainDark3.jpg", alt="",data-aos="flip-up") 
                    //-                 .section-block--ball.ball--violet(data-aos="zoom-up")
                    .main-form 
                    .menu-navigation#wrapperContent 
                        .navigation-row#navigationFirstRow 
                            .form-button#formButton
                                .form-container#formContainer
                                    p smkmlmlmlmlkmlml kmlmlkmlkmklmkl mlkmlmlm lkml mlm lml mlkmlkmlkmlkmlkm lmlkmlml mlkmlk mlkmlkm klmlk mlkm lkmlk mlkm lml mlk mlml kmlk mlkm lkml kmlkm lml kml mlkm lkm lkm lkmlk ml mlkm lkm lkm lkml mkl lmlkm l mlkmlmlkmlkmlk mlkm lkmkl mlkm lkmlkmlkmlkmlkmlk m klm klmlk mlkml kmlkm lkm lkmlk mlk ml 
                            img.navigation-image(src="./assets/images/content/imageMain2.jpg", alt="Alt Text")
                        .navigation-row#navigationSecondRow
                            .about-button#aboutButton 
                                .about-container#aboutContainer 
                                    p smkmlmlmlmlkmlml kmlmlkmlkmklmkl mlkmlmlm lkml mlm lml mlkmlkmlkmlkmlkm lmlkmlml mlkmlk mlkmlkm klmlk mlkm lkmlk mlkm lml mlk mlml kmlk mlkm lkml kmlkm lml kml mlkm lkm lkm lkmlk ml mlkm lkm lkm lkml mkl lmlkm l mlkmlmlkmlkmlk mlkm lkmkl mlkm lkmlkmlkmlkmlkmlk m klm klmlk mlkml kmlkm lkm lkmlk mlk ml 
                            .navigation-container#navigationContainer 
                                    .banks-button#banksButton 
                                        .banks-container#banksContainer
                                            p smkmlmlmlmlkmlml kmlmlkmlkmklmkl mlkmlmlm lkml mlm lml mlkmlkmlkmlkmlkm lmlkmlml mlkmlk mlkmlkm klmlk mlkm lkmlk mlkm lml mlk mlml kmlk mlkm lkml kmlkm lml kml mlkm lkm lkm lkmlk ml mlkm lkm lkm lkml mkl lmlkm l mlkmlmlkmlkmlk mlkm lkmkl mlkm lkmlkmlkmlkmlkmlk m klm klmlk mlkml kmlkm lkm lkmlk mlk ml 
                                    .navigation-container__row#navigationRowMini 
                                        .whyus-button#whyusButton
                                            .whyus-container#whyusContainer
                                                p smkmlmlmlmlkmlml kmlmlkmlkmklmkl mlkmlmlm lkml mlm lml mlkmlkmlkmlkmlkm lmlkmlml mlkmlk mlkmlkm klmlk mlkm lkmlk mlkm lml mlk mlml kmlk mlkm lkml kmlkm lml kml mlkm lkm lkm lkmlk ml mlkm lkm lkm lkml mkl lmlkm l mlkmlmlkmlkmlk mlkm lkmkl mlkm lkmlkmlkmlkmlkmlk m klm klmlk mlkml kmlkm lkm lkmlk mlk ml 
                                        a.faq-button#faqButton Привет

                            
                    
                include footer.pug