include header.pug
main.main 
    section.form-section
    section.advertisment-section
    section.banks-section 
    section.whyus-section
    section.attention-section 
    section.consultation-section 
    section.feedback
    section.company-section 
    section.map-section 
include footer.pug