.cases-welcome {
    background-image: url("./assets/images/content/background10Light.jpg") !important;
}

.cases {
    .navigation-link {
        background: -webkit-linear-gradient( 315deg, #e52d27, #26a0da);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

.main-section.cases-section {
    background: #000;
    display: flex;
    align-items: center;
    .section-block--link {
        width: calc(100%);
        .section-name {
            color: #fff;
        }
    }
}

.link-kt {
    background: linear-gradient(180deg, #f9da00, #ffffff);
}

.link-br {
    background: linear-gradient(180deg, #E82431, #ffffff);
}

.link-df {
    background: linear-gradient(180deg, #000, #fff);
}

.link-rant {
    background: linear-gradient(180deg, #96DDBB, #fff);
}

.link-socials {
    background: linear-gradient(180deg, #76B5C5, #E28743);
}