.application-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 60px;
    .screen--show {
        opacity: 1;
        animation: screenShow 1s ease;
    }
    .screen--hide {
        display: none !important;
    }
    .form-screen {
        width: calc(60% - 120px);
        padding: 40px 60px;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        align-items: center;
        min-height: 370px;
        height: fit-content;
        border-radius: 22px;
        position: relative;
    }
    .screen-header {
        font-size: 36px;
        color: #0b1f35;
        font-weight: 700;
        text-align: center;
        margin-bottom: 40px;
    }
    .application-button {
        width: 80%;
        border-radius: 8px;
        padding: 20px 40px;
        font-size: 28px;
        font-weight: 700;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 40px;
        cursor: pointer;
        transition: transform 0.3s ease;
        &:hover {
            transform: scale(1.05);
            box-shadow: 0 0 40px 10px rgba($color: #000, $alpha: 0.3);
        }
        &--yes {
            background-color: #ff0505;
            color: #fff;
        }
        &--no {
            background: rgba($color: #0b1f35, $alpha: 0.1);
            color: #0b1f35;
        }
    }
    .application-form__navigation {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 80%;
        .navigation__progress-bar {
            width: 100%;
            background: rgba($color: #0b1f35, $alpha: 0.1);
            height: 40px;
            border-radius: 8px;
            position: relative;
        }
    }
    .navigation-controller {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 95%;
        height: fit-content;
        position: absolute;
        bottom: 40px;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
    }
    .form-navigation__button {
        width: 50px;
        height: 50px;
        background-color: #ff0505;
        border-radius: 50%;
        position: relative;
        cursor: pointer;
        &--prev {
            &::before {
                content: "";
                position: absolute;
                left: 5px;
                right: 0;
                top: 0;
                bottom: 0;
                margin-top: auto;
                margin-bottom: auto;
                margin-right: auto;
                margin-left: auto;
                width: 15px;
                height: 15px;
                border-left: 5px solid #fff;
                border-bottom: 5px solid #fff;
                transform: rotate(45deg);
            }
        }
        &--next {
            &::before {
                content: "";
                position: absolute;
                left: 0;
                right: 5px;
                top: 0;
                bottom: 0;
                margin-top: auto;
                margin-bottom: auto;
                margin-right: auto;
                margin-left: auto;
                width: 15px;
                height: 15px;
                border-right: 5px solid #fff;
                border-bottom: 5px solid #fff;
                transform: rotate(-45deg);
            }
        }
        &--disabled {
            pointer-events: none;
            filter: grayscale(100%);
        }
    }
}

.application-form__radio {
    display: none;
}

.application-form__radio:checked+label {
    border: 3px solid #ff0505;
}

.navigation__progress-bar--basic {
    &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 0%;
        border-radius: 8px 0 0px 8px;
        background-color: #ff0505;
        height: 40px;
    }
    &::before {
        content: "0%";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin-right: auto;
        margin-left: auto;
        margin-top: auto;
        margin-bottom: auto;
        color: #0b1f35;
        z-index: 100;
        font-size: 24px;
        font-weight: 700;
        width: fit-content;
        height: fit-content;
    }
}

.navigation__progress-bar--20p {
    &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 20%;
        border-radius: 8px 0 0px 8px;
        background-color: #ff0505;
        height: 40px;
    }
    &::before {
        content: "20%";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin-right: auto;
        margin-left: auto;
        margin-top: auto;
        margin-bottom: auto;
        color: #0b1f35;
        z-index: 100;
        font-size: 24px;
        font-weight: 700;
        width: fit-content;
        height: fit-content;
    }
}

.navigation__progress-bar--40p {
    &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 40%;
        border-radius: 8px 0 0px 8px;
        background-color: #ff0505;
        height: 40px;
    }
    &::before {
        content: "40%";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin-right: auto;
        margin-left: auto;
        margin-top: auto;
        margin-bottom: auto;
        color: #0b1f35;
        z-index: 100;
        font-size: 24px;
        font-weight: 700;
        width: fit-content;
        height: fit-content;
    }
}

.navigation__progress-bar--60p {
    &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 60%;
        border-radius: 8px 0 0px 8px;
        background-color: #ff0505;
        height: 40px;
    }
    &::before {
        content: "60%";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin-right: auto;
        margin-left: auto;
        margin-top: auto;
        margin-bottom: auto;
        color: #fff;
        z-index: 100;
        font-size: 24px;
        font-weight: 700;
        width: fit-content;
        height: fit-content;
    }
}

.navigation__progress-bar--80p {
    &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 80%;
        border-radius: 8px 0 0px 8px;
        background-color: #ff0505;
        height: 40px;
    }
    &::before {
        content: "80%";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin-right: auto;
        margin-left: auto;
        margin-top: auto;
        margin-bottom: auto;
        color: #fff;
        z-index: 100;
        font-size: 24px;
        font-weight: 700;
        width: fit-content;
        height: fit-content;
    }
}

.navigation__progress-bar--95p {
    &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 95%;
        border-radius: 8px 0 0px 8px;
        background-color: #ff0505;
        height: 40px;
    }
    &::before {
        content: "95%";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin-right: auto;
        margin-left: auto;
        margin-top: auto;
        margin-bottom: auto;
        color: #fff;
        z-index: 100;
        font-size: 24px;
        font-weight: 700;
        width: fit-content;
        height: fit-content;
    }
}

.navigation__progress-bar--100p {
    &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        border-radius: 8px;
        background-color: #ff0505;
        height: 40px;
    }
    &::before {
        content: "100%";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin-right: auto;
        margin-left: auto;
        margin-top: auto;
        margin-bottom: auto;
        color: #fff;
        z-index: 100;
        font-size: 24px;
        font-weight: 700;
        width: fit-content;
        height: fit-content;
    }
}

.application-table {
    display: flex;
    align-items: center;
    width: 80%;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 40px;
    .application-table__option {
        width: 49%;
        height: 250px;
        margin-bottom: 5px;
        background-color: rgba($color: #ccc, $alpha: 0.3);
        border: 1px solid #0b1f35;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        position: relative;
        overflow: hidden;
        transition: transform 2s;
        border-radius: 22px;
        &::before {
            content: "";
            background-color: rgba($color: #ff0505, $alpha: 0.6);
            transform: scale(0);
            width: 1px;
            height: 1px;
            position: absolute;
            top: 0;
            left: 0;
            border-radius: 50%;
            transition: transform 0.1s ease;
        }
        &:hover {
            animation: swingingPicture 1s ease infinite;
            animation-delay: 2s;
            cursor: pointer;
            transform: rotate(-1deg);
            .application-caption {
                color: #fff;
                transition: color 0.3s ease;
            }
            &::before {
                content: "";
                transform: scale(1000);
                z-index: -1;
                transition: transform 0.5s ease;
            }
        }
        .application-image {
            width: 60%;
            height: 60%;
        }
        .application-caption {
            font-size: 24px;
            font-weight: 700;
            color: #0b1f35;
            text-align: center;
        }
    }
}

@keyframes screenShow {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes swingingPicture {
    0% {
        transform: rotate(-1deg);
    }
    50% {
        transform: rotate(1deg);
    }
    100% {
        transform: rotate(-1deg);
    }
}

.application-slider {
    width: 80%;
    margin-bottom: 40px;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .ui-widget.ui-widget-content {
        width: 100%;
        border: 1px solid #0b1f35;
        height: 30px;
        border-radius: 8px;
    }
    .ui-slider-handle.ui-state-default {
        border-radius: 50%;
        height: 40px;
        width: 40px;
        top: -20%;
        background: #0b1f35;
        border: none;
        outline: none;
    }
    .ui-slider-range {
        background: linear-gradient(45deg, #ff0505, rgb(47, 47, 47));
        background-size: 400% 400%;
        animation: gradient 5s ease infinite;
    }
    .slider--debt {
        width: 60% !important;
    }
    .application-input {
        height: 30px;
        border-radius: 8px;
        border: 1px solid #0b1f35;
        width: calc(30% - 10px);
        font-size: 18px;
        outline: none;
        padding-left: 10px;
    }
    .input--income {
        font-size: 12px;
        color: #0b1f35;
        display: inline-block;
        position: relative;
        top: 10px;
    }
}

.submit-label {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-weight: 400;
    font-size: 16px;
    .submit-input {
        font-size: 24px;
        font-weight: 500;
        padding: 10px 20px;
        outline: none;
        border-radius: 8px;
        border: 1px solid #ff0505;
        margin-top: 10px;
    }
}

.submit-button {
    padding: 10px 20px;
    font-size: 24px;
    font-weight: 500;
    background-color: #ff0505;
    color: #fff;
    outline: none;
    border: none;
    border-radius: 8px;
    margin-bottom: 40px;
    cursor: pointer;
    transition: transform 0.5s ease;
    &:hover {
        transform: scale(1.1);
    }
}