    .main-content {
        width: 100%;
        height: 100%;
        z-index: 1;
        cursor: default;
    }
    
    .welcome-section {
        width: 100%;
        height: 100vh;
        // background-image: url("./assets/images/content/background9Light.jpg");
        // background-size: cover;
        // background-position-x: center;
        // background-repeat: no-repeat;
        background: linear-gradient(135deg, #fff, #ee7752, #B15AD5);
        background-size: 400% 400%;
        animation: gradient 8s ease infinite;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .welcome-header {
            font-size: 60px;
            text-transform: uppercase;
            color: #fff;
            font-weight: 500;
            margin-bottom: 20px;
            text-align: center;
        }
        .welcome-subheader {
            font-size: 30px;
            text-transform: uppercase;
            color: #fff;
            font-weight: 500;
            margin-bottom: 20px;
            text-align: center;
        }
        .typewrite {
            background: -webkit-linear-gradient(0deg, #800060, #ff0505);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            line-height: 80px;
        }
    }
    
    .main-banner {
        display: flex;
        align-items: center;
        justify-content: center;
        width: calc(100% - 80px);
        height: calc(450px - 160px);
        padding: 80px 40px;
        font-size: 45px;
        line-height: 70px;
        text-align: center;
        font-weight: 300;
        position: relative;
        z-index: 2;
        color: #fff;
        background: linear-gradient(135deg, #fff, #83c5f1, #ee7752, #fff);
        background-size: 400% 400%;
        animation: gradient 8s ease infinite;
    }
    
    .main-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: fit-content;
        .section-row {
            width: 100%;
            height: 450px;
            display: flex;
            .link-more {
                .section-name {
                    color: #fff !important;
                }
                .section-subheader {
                    color: #fff !important;
                }
                .section-header {
                    color: #fff !important;
                }
                .section-link {
                    color: #fff !important;
                    &:before {
                        width: 100%;
                        height: 2px;
                        background-color: #fff !important;
                        content: "";
                        display: block;
                        position: absolute;
                        bottom: -10px;
                    }
                }
            }
            .section-block--link {
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                .section-name {
                    font-size: 40px;
                    font-weight: 500;
                    letter-spacing: 5px;
                    margin-top: 40px;
                    color: #fff;
                }
                .section-header {
                    font-size: 40px;
                    font-weight: 200;
                    margin-top: 20px;
                    color: #fff;
                }
                .section-subheader {
                    font-weight: 200;
                    font-size: 20px;
                    margin-top: 20px;
                    line-height: 30px;
                    width: 80%;
                    text-align: center;
                    color: #fff;
                }
                .section-link {
                    text-decoration: none;
                    color: #fff;
                    font-size: 25px;
                    font-weight: 500;
                    margin-top: 60px;
                    text-transform: uppercase;
                    transition: transform ease .3s;
                    position: relative;
                    &:hover,
                    &:visited,
                    &:active {
                        transform: scale(1.1);
                        color: #fff;
                    }
                    &:before {
                        width: 100%;
                        height: 2px;
                        background-color: #fff;
                        content: "";
                        display: block;
                        position: absolute;
                        bottom: -10px;
                    }
                }
            }
            .link-cases {
                background: linear-gradient(135deg, #ccc, #FFBB4D, #ee7752);
                background-size: 400% 400% !important;
                animation: gradient 8s ease infinite;
            }
            .link-more {
                background: linear-gradient(135deg, #2cccc4, #db545a);
                background-size: 400% 400%;
                animation: gradient 8s ease infinite;
            }
            .link-row {
                display: flex;
                align-items: center;
                flex-direction: column;
                justify-content: center;
                background: linear-gradient(135deg, #3CA55C, #B5AC49);
                // background: linear-gradient(135deg, #2cccc4, #db545a);
                background-size: 400% 400%;
                animation: gradient 8s ease infinite;
                .contact-link {
                    text-decoration: none;
                    color: #fff;
                    font-size: 46px;
                    font-weight: 200;
                    text-align: center;
                    margin-top: 60px;
                    text-transform: uppercase;
                    transition: transform ease .3s;
                    position: relative;
                    &:hover,
                    &:visited,
                    &:active {
                        transform: scale(1.1);
                        color: #fff;
                    }
                }
            }
        }
    }
    
    .button-activation {
        font-size: 36px;
        font-weight: 800;
        text-transform: uppercase;
        background: -webkit-linear-gradient( 45deg, #800060, #ff0505);
        color: #fff;
        padding: 40px 50px;
        border-radius: 22px;
        margin-top: 50px;
        cursor: pointer;
        animation: attentionCatcher 2s ease;
        animation-iteration-count: infinite;
    }
    
    @keyframes attentionCatcher {
        0% {
            transform: scale(1);
        }
        50% {
            transform: scale(1.1);
        }
        100% {
            transform: scale(1);
        }
    }
    
    @keyframes gradient {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    }
    
    // .menu-navigation {
    //     display: flex;
    //     flex-direction: column;
    //     width: 100%;
    //     padding: 0 50px;
    //     margin-top: 50px;
    //     position: relative;
    //     .navigation-row {
    //         display: flex;
    //         align-items: flex-start;
    //         justify-content: flex-start;
    //         width: calc(100% - 100px);
    //         z-index: 12;
    //     }
    //     .form-button {
    //         height: 250px;
    //         width: 70%;
    //         background-color: #B30E16;
    //         margin-right: 50px;
    //         transition: width 0.3s ease;
    //         background-color: rgba($color: #ff0505, $alpha: 0.2);
    //         transition: transform 0.3s ease;
    //         &:hover {
    //             transition: transform 0.3s ease;
    //             transform: scale(1.1);
    //         }
    //     }
    //     .form-container {
    //         width: 100%;
    //         transition: transform 0.3s ease;
    //         opacity: 0;
    //         position: absolute;
    //         height: 400px;
    //     }
    //     .formExpansion {
    //         width: calc(80vw - 100px);
    //         transition: width 0.3s ease;
    //         position: absolute;
    //         &:hover {
    //             transition: transform 0.3s ease;
    //             transform: scale(1);
    //         }
    //         .formContainerExpansion {
    //             transform: translateY(300px);
    //             background-color: #ff0000;
    //             opacity: 1;
    //             animation: fromZeroToOneOpacity 0.3s ease;
    //         }
    //     }
    //     .buttonModdif {
    //         &:hover {
    //             transition: transform 0.3s ease;
    //             transform: scale(1) !important;
    //         }
    //     }
    //     .about-container {
    //         opacity: 0;
    //     }
    //     .aboutExpansion {
    //         width: 49vw;
    //         transform: translateX(350px);
    //         background-color: #ff0000;
    //         height: 100%;
    //         opacity: 1 !important;
    //         animation: fromZeroToOneOpacity 0.3s ease;
    //     }
    //     .containerResize {
    //         transition: transform 0.3s ease;
    //         transform: translateY(calc(150vh - 275px))
    //     }
    //     .rowResize {
    //         transition: transform 0.3s ease;
    //         transform: translateY(450px);
    //     }
    //     .navigation-image {
    //         width: 250px;
    //         height: 20%;
    //         border-radius: 50%;
    //     }
    //     .about-button {
    //         width: 29%;
    //         height: calc(150vh - 325px);
    //         margin-top: 50px;
    //         margin-right: 50px;
    //         background-color: rgba($color: #ff0505, $alpha: 0.2);
    //         transition: transform 0.3s ease;
    //         &:hover {
    //             transition: transform 0.3s ease;
    //             transform: scale(1.1);
    //         }
    //     }
    //     .navigation-container {
    //         width: 100%;
    //         height: calc(150vh - 300px);
    //         position: relative;
    //     }
    //     .banks-button {
    //         width: 100%;
    //         height: calc(50% - 25px);
    //         margin-bottom: 50px;
    //         background-color: rgba($color: #ff0505, $alpha: 0.2);
    //         margin-top: 50px;
    //         transition: transform 0.3s ease;
    //         &:hover {
    //             transition: transform 0.3s ease;
    //             transform: scale(1.1);
    //         }
    //     }
    //     .banksExpansion {
    //         width: 140%;
    //         max-width: 73vw;
    //         transition: transform 0.3s ease;
    //         transform: translateX(-275px) scale(1.1);
    //     }
    //     .banksContainerExpansion {
    //         width: 100%;
    //         transform: translateY(490px);
    //         background-color: #ff0000;
    //         height: 400px;
    //         opacity: 1 !important;
    //         animation: fromZeroToOneOpacity 0.3s ease;
    //     }
    //     .rowResizeBanks {
    //         transform: translateY(calc(150vh - 275px))
    //     }
    //     .miniRowResize {
    //         transform: translateY(450px);
    //     }
    //     .navigation-container__row {
    //         width: 100%;
    //         height: calc(50% - 25px);
    //         display: flex;
    //     }
    //     .whyus-button,
    //     .faq-button {
    //         width: calc(50% - 25px);
    //         margin-right: 50px;
    //         height: calc(100% - 25px);
    //         background-color: rgba($color: #ff0505, $alpha: 0.2);
    //         display: block;
    //         transition: transform 0.3s ease;
    //     }
    //     .whyus-button {
    //         &:hover {
    //             transition: transform 0.3s ease;
    //             transform: scale(1.1);
    //         }
    //     }
    //     .faq-button {
    //         margin-right: 0;
    //     }
    //     .hidden-text {
    //         transition: transform 0.3s ease;
    //         width: calc(100% - 100px);
    //         background-color: blue;
    //         height: 300px;
    //         border-radius: 50px;
    //         display: flex;
    //         padding: 50px;
    //         z-index: -2;
    //         opacity: 0;
    //         animation: fromOneToZeroOpacity 0.3s ease;
    //     }
    //     .rowResizeBanks.containerResize {
    //         .banksExpansion {
    //             width: 164%;
    //             max-width: 73vw;
    //             transition: transform 0.3s ease;
    //             transform: translateX(-355px);
    //         }
    //     }
    //     .miniRowCardResize {
    //         display: flex;
    //         flex-direction: column;
    //         align-items: flex-end;
    //         transform: translateY(calc(70%));
    //         height: fit-content;
    //     }
    //     .miniCardExpansion {
    //         width: 136%;
    //         max-width: 80vw;
    //         position: relative;
    //         left: 46px;
    //     }
    //     .whyus-button.miniCardExpansion {
    //         &:hover {
    //             transform: scale(1);
    //         }
    //     }
    //     .miniCardContainerExpansion {
    //         width: 100%;
    //         transform: translateY(460px);
    //         background-color: #ff0000;
    //         height: 400px;
    //         opacity: 1 !important;
    //         animation: fromZeroToOneOpacity 0.3s ease;
    //     }
    //     .miniCardResize {
    //         transform: translateY(510px);
    //     }
    //     .miniRowCardResize {
    //         .faq-button {
    //             height: 300px;
    //         }
    //     }
    //     .miniRowCardResize.miniRowResize {
    //         .miniCardExpansion {
    //             width: 150%;
    //         }
    //     }
    //     // .rowResizeBanks {
    //     //     .miniRowCardResize.miniRowResize {
    //     //         .miniCardExpansion {
    //     //             width: 135%;
    //     //         }
    //     //     }
    //     // }
    // }
    // .banksExpansion+.miniRowResize {
    //     .miniCardExpansion {
    //         width: 136% !important;
    //     }
    // }
    // .buttonModdif+.navigation-container {
    //     .banksExpansion+.miniRowResize {
    //         .miniCardExpansion {
    //             width: 150% !important;
    //         }
    //     }
    // }
    // @keyframes fromZeroToOneOpacity {
    //     0% {
    //         opacity: 0;
    //     }
    //     100% {
    //         opacity: 1;
    //     }
    // }
    // @keyframes fromOneToZeroOpacity {
    //     0% {
    //         opacity: 1;
    //     }
    //     100% {
    //         opacity: 0;
    //     }
    // }
    // // Кастомизация отдельных элементов
    // .form-button {
    //     display: flex;
    //     justify-content: center;
    //     align-items: center;
    //     cursor: pointer;
    //     border-radius: 200px;
    //     .button-header {
    //         font-size: 48px;
    //         color: #FF1616;
    //         font-weight: 600;
    //         text-transform: uppercase;
    //     }
    // }