body {
    font-family: "Montserrat";
    font-weight: 500;
}

a {
    color: #000;
    text-decoration: none;
}

.greeting-swiper {
    width: 100vw;
    height: 100%;
    position: relative;
    .swiper-wrapper {
        width: 100%;
        height: 100%;
        .swiper-slide {
            width: 100%;
            height: 100%;
        }
    }

}

.greeting-basic {
    background: linear-gradient(135deg, #D3CCE3, #E9E4F0);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

.greeting-slide {
    width: 100%;
    height: 100%;
    display: flex;
    margin-left: 80px;
    justify-content: flex-start;
    align-items: center;
    .attention-container {

        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        width: 50%;
    }
    .attention-container__header {
        color: #0b1f35;
        font-size: 42px;
        font-weight: 700;
    }
    .attention-container-row {
        display: flex;
        justify-content: flex-start;
        margin-top: 20px;
    }
    .attention-container__button--expand {
        background-color: rgba(11, 31, 53, .1);
        min-width: 104px;
        padding: 20px 10px;
        border-radius: 8px;
        font-weight: 600;
        color: #0b1f35;
        text-align: center;
        margin-right: 20px;
        transition: transform 0.3s ease;
        &:hover {
            transform: scale(1.1);
        }
    }
    .attention-container__button--apply {
        background-color: rgba($color: #ff0505, $alpha: 1.0);
        min-width: 104px;
        color: #fff;

        padding: 20px 10px;
        border-radius: 8px;
        font-weight: 600;
        text-align: center;
        transition: transform 0.3s ease;
        &:hover {
            transform: scale(1.1);
        }

    }
}

.greeting-basic {
    .greeting-image {
        width: 40%;
        height: 100%;
    }
}

.swiper-button--prev,
.swiper-button--next {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 3px solid #fff;
    position: relative;
    cursor: pointer;
}

.swiper-button--prev {
    &::before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        margin-top: auto;
        margin-bottom: auto;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        width: 12px;
        height: 12px;
        border-bottom: 3px solid #fff;
        border-left: 3px solid #fff;
        transform: rotate(45deg);
    }
}

.swiper-button--next {
    &::before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        margin-top: auto;
        margin-bottom: auto;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        width: 12px;
        height: 12px;
        border-bottom: 3px solid #fff;
        border-right: 3px solid #fff;
        transform: rotate(-45deg);
    }
}

.swiper-navigation {
    position: absolute;
    bottom: 40px;
    right: 80px;
    z-index: 20;
    display: flex;
    width: 120px;
    justify-content: space-between;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.typewrite {
    display: inline;
}

.main-home {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(100vw - 160px);
    height: fit-content;
    padding: 60px 80px;
    .form-section,
    .banks-section,
    .whyus-section,
    .attention-section,
    .consultation-section,
    .feedback-section,
    .company-section,
    .map-section {
        display: flex;
        flex-direction: column;
        width: 100%;

        align-items: flex-start;
        justify-content: flex-start;

    }
    .section-header {
        text-transform: uppercase;
        color: #0b1f35;
        font-weight: 700;
        width: 60%;
        font-size: 40px;
    }
    .form-section {
        padding-top: 150px;
    }
}

.section-container {
    width: 100%;
    height: fit-content;
    background-color: rgba($color: #ccc, $alpha: .4);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.swiper-pagination.home-pagination {
    width: 90%;
    position: absolute;
    bottom: -75px;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: space-between;
    .swiper-pagination-bullet {
        width: 23%;
        border-radius: 8px;
        height: 150px;
        background: linear-gradient(135deg, #C9D6FF, #E2E2E2);
        background-size: 400% 400%;
        animation: gradient 15s ease infinite;
        color: #000;
        z-index: 30;
        opacity: 1;
        transition: transform 0.3s ease;
        &:hover {
            transform: scale(1.1);
        }
    }
    .swiper-pagination-bullet-active {
        background: linear-gradient(135deg, #005AA7, #FFFDE4);
        background-size: 400% 400%;
        animation: gradient 15s ease infinite;
        .bullet-header {
            color: #fff;
            font-size: 18px;
            font-weight: 700;
            width: 80%;
        }
    }

    .bullet-header {
        color: #0b1f35;
        font-size: 18px;
        font-weight: 600;
        width: 80%;
    }
}

.bullet-special {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

    
    // Menu Navigation Expansion Section
    .section-block--expansion {
        width: 80%;
        height: 100vh;
    }
    
    .homeWindowExpanded {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .swiper-home {
        width: 100%;
        height: 60%;
        position: relative;
        overflow: hidden;
        .swiper-wrapper {
            height: 80%;
        }
        .swiper-slide {
            height: 100%;
        }
    }
    
    .swiper-controller {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: flex-end;
    }
    
    .swiper-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    .swiper-pagination {
        position: relative;
        display: flex;
        .swiper-pagination-bullet {
            width: 40px;
            height: 10px;
            background-color: rgba($color: #fff, $alpha: 0.5);
            border-radius: 0px;
            margin-right: 20px;
        }
        .swiper-pagination-bullet {
            width: 40px;
            height: 10px;
            background-color: rgba($color: #fff, $alpha: 1);
            border-radius: 0px;
        }
    }
    
    .swiper-button-prev--home,
    .swiper-button-next--home {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: 3px solid #fff;
        position: relative;
        cursor: pointer;
    }
    
    .swiper-button-prev--home {
        &::before {
            content: "";
            position: absolute;
            top: 0;
            bottom: 0;
            margin-top: auto;
            margin-bottom: auto;
            left: 3px;
            right: 0;
            margin-left: auto;
            margin-right: auto;
            width: 12px;
            height: 12px;
            border-bottom: 3px solid #fff;
            border-left: 3px solid #fff;
            transform: rotate(45deg);
        }
    }
    
    .swiper-button-next--home {
        margin-left: 40px;
        &::before {
            content: "";
            position: absolute;
            top: 0;
            bottom: 0;
            margin-top: auto;
            margin-bottom: auto;
            left: 0;
            right: 3px;
            margin-left: auto;
            margin-right: auto;
            width: 12px;
            height: 12px;
            border-bottom: 3px solid #fff;
            border-right: 3px solid #fff;
            transform: rotate(-45deg);
        }
    }
    
    .section-container {
        height: 350px !important;
        flex: 350px 0 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .homeParentExpanded {
        min-height: calc(100vh + 350px) !important;
        max-height: calc(100vh + 350px) !important;
        transition: min-height 0.3s ease;
    }
    
    // #formExpand {
    //     width: 100%;
    //     min-height: 200vh;
    //     max-height: 200vh;
    //     height: fit-content;
    //     display: flex;
    //     align-items: center;
    //     justify-content: space-between;
    //     flex-direction: column;
    //     transition: height 0.3s ease;
    //     overflow: hidden;
    //     .section-block--expansion {
    //         df
    //     }
    // }