body {
    overflow-x: hidden;
    font-family: "Montserrat";
}

.wrapper {
    padding: 120px 0 240px;
    height: fit-content;
    // height: 1000vh;
    width: 100vw;
    background-image: url("./assets/images/content/mainBackground.png");
    background-size: cover;
    background-position-x: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cases {
    background-image: url("./assets/images/content/background9Light.jpg");
}

.wrapper-content {
    width: 80%;
    max-width: 1440px;
    height: 100%;
    padding-top: 22px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #fff;
    border-radius: 22px;
    position: relative;
}